@charset "UTF-8";

@media screen and (max-width: 420px) { 

header nav {
    margin: 0 20px;
}

#navbar li.itens-nav {
    display: none;
}   

header #log-in {
    display: none
}

span#menu-hamburguer {
    display: block;
    cursor: pointer;
}

nav a:hover::after {
    width: 0%;
}

#hero {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 430px;
}

#texto-hero {
    grid-row: 2;
}

#texto-hero h1 {
    margin: 40px auto 0 auto;
}

#texto-hero p {
    padding: 0 30px;
}

#itens {
    flex-direction: column;
    align-items: center;
}

.estilos-item {
    flex-direction: column;
    margin-top: 150px;
}

.texto-estilo {
    margin-bottom: 40px;
    
}

.imagem-estilo img {
    width: 300px;
    border-radius: 4px;
    
}

#area-avaliacoes {
    margin-top: 100px;
}

.avaliacao-2 {
    padding: 20px;
    height: 180px;
}

.produto {
    margin-bottom: 50px;
}

#comecar-projeto h2 {
    margin-left: 5px;
    font-size: 1.9em;
}

#comecar-projeto p {
    margin-left: 5px;
    font-size: 1.2em;
}

#comecar-projeto #btn-projeto button {
    padding: 8px 10px;
    border-radius: 2px;
    border: none;
    font-size: 0.9em;
    width: 100px;
}



#footer-itens {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    margin-right: 30px;
}

#legal {
    display: none
}

}

@media screen and (min-width: 421px) and (max-width: 790px) {

    header nav {
    margin: 0 20px;
}

#navbar li.itens-nav {
    display: none;
}   

header #log-in {
    display: none
}

span#menu-hamburguer {
    display: block;
    cursor: pointer;
}

nav a:hover::after {
    width: 0%;
}
    
    #texto-hero h1 {
    margin: 70px auto 0 auto;
}

    #texto-hero p {
        padding: 0px 15px;
    }

    #hero {
    display: grid;
    grid-template-columns: 65vw 1fr;
    grid-template-rows: 450px;
    
}

    #itens p {
    font-size: 1em;
    width: 155px;
}
    .estilos-item {
    flex-direction: column;
    margin-top: 150px;
}

.texto-estilo {
    margin-bottom: 40px;
    
}

.imagem-estilo img {
    width: 350px;
    border-radius: 4px;
    
}

.produto {
    margin-bottom: 50px;
}

#comecar-projeto h2 {
    margin-left: 5px;
    font-size: 1.9em;
}

#comecar-projeto p {
    margin-left: 5px;
    font-size: 1.2em;
}

#comecar-projeto #btn-projeto button {
    padding: 8px 10px;
    border-radius: 2px;
    border: none;
    font-size: 0.9em;
    width: 100px;
}
 }


