@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #2E5C3D;
}

html {
  scroll-behavior: smooth;
}

header{
    text-align: center;
    background-color: beige;
    color: black;
}

nav  ul {
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
}