@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    EM html é class = em CSS é .
*/

body {
    background-color: #9dd4bf;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #265040;
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: #265040;
}

.intermediario {
    color: #978b19;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: rgba(207, 207, 88, 0.541);
}