@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Story+Script&display=swap');

header {
    background-color: #F7F7F7;
    height: 250px;
    font-family: "Poppins", sans-serif;
    box-shadow: -3px -3px 9px 2px rgba(0, 0, 0, 0.397);
}

#header-mobile {
    display: none;
}

#first-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo a {
    font-family: "Story Script", sans-serif;
    display: flex;
    margin: 30px;
    color: #FF385C;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
}

#logo i {
    font-size: 40px;

}

#itens {
    display: flex;
    gap: 50px;
    font-size: 18px;
}

.item {
    display: flex;
    cursor: pointer;
}

.item:hover {
    color: #FF385C;

}

nav {
    display: flex;
    align-items: center;
    margin-right: 55px;
    color: #545454;
}

nav h2 {
    font-size: 1.1em;
    cursor: pointer;
    padding: 10px;
}


nav i {
    background-color: #EBEBEB;
    font-size: 18px;
    padding: 10px 30px 10px 11px;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
}

nav h2:hover {
    background-color: #EBEBEB;
    border-radius: 30px;
}

#pesquisa {
    margin: 10px auto;
    max-width: 900px;
    text-align: center;
    background: white;
    
    border-radius: 50px;
    box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.212);
    height: 75px;
    
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
}

#pesquisa form {
    margin-top: 15px;
}

#pesquisa input {
    margin-left: 40px;
    border: none;
}

#pesquisa button {
    
    color: white;
    font-size: 1.4em;
    border: none;
    background-color: #FF385C;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: 13px;
    height: 50px;
    cursor: pointer;
    
    
}

#pesquisa button:hover {
    background-color: #ec2247;
}

.preencher {
    display: flex;
    flex-direction: column;
}

.pesquisa-cor:hover {
    background-color: #e7e7e7;
    border-radius: 50px;
}

.pesquisa-cor:hover input{
    background-color: #e7e7e7;
    border-radius: 50px;

}

.container {
    display: grid;
    grid-template-columns: 40px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px  1fr 10px  1fr 40px;
    grid-template-rows: 30px 30px 20px 40px 290px;
    
}

.casas img {
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    
}

.container h2 {
    grid-area: 2 / 2 / 2 / 9;
    cursor: pointer;
    color: #333333;
}

#casa-1 {
    grid-area: 4 / 2 / 6 / 3;
}

#casa-2 {
    grid-area: 4 / 4 / 6 / 5;
}

#casa-3 {
    grid-area: 4 / 6 / 6 / 7;
}

#casa-4 {
    grid-area: 4 / 8 / 6 / 9 ;
}

#casa-5 {
    grid-area: 4 / 10 / 6 / 11;
}

#casa-6 {
    grid-area: 4 / 12 / 6 / 13;

}

#casa-7 {
    grid-area: 4 / 14 / 6 / 15
}

section p {
    color: #545454;
    font-size: 1em;
    cursor: pointer;
}

section h3 {
    cursor: pointer;
    font-size: 1.1em;
    color: #333333;
}

.setas {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: 2 / -2 / 3 / -1;
    display: flex;
    justify-self: end;
    margin-right: 30px;
    gap: 21px;
    font-size: 1.5em;
    align-self: center;
    
}

.setas p {
    color: rgb(49, 49, 49);
    background-color: #EBEBEB;
    padding: 3px 9px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.setas p:hover {
    background: #adadad;
    transform: scale(1.05);
}

.coracao-1 {
    grid-area: 4 / 2 / 5 / 3;
    align-self: center;
    justify-self: end;
    margin-right: 15px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.596);
}

.coracao-2 {
    grid-area: 4 / 4 / 5 / 5;
    align-self: center;
    justify-self: end;
    margin-right: 15px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.596);
}

.coracao-3 {
    grid-area: 4 / 6 / 5 / 7;
    align-self: center;
    justify-self: end;
    margin-right: 15px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.596);
}

.coracao-4 {
    grid-area: 4 / 8 / 5 / 9;
    align-self: center;
    justify-self: end;
    margin-right: 15px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.596);
}

.coracao-5 {
    grid-area: 4 / 10 / 5 / 11;
    align-self: center;
    justify-self: end;
    margin-right: 15px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.596);
}

.coracao-6 {
    grid-area: 4 / 12 / 5 / 13;
    align-self: center;
    justify-self: end;
    margin-right: 15px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.596);
}

.coracao-7 {
    grid-area: 4 / 14 / 5 / 15;
    align-self: center;
    justify-self: end;
    margin-right: 15px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.596);
    transition: transform 0.3s ease;
}

.coracao:hover { 
    color: #ec2247;
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    display: none;
}


