@charset "UTF-8";

@media screen and (max-width: 481px) {

    nav .nav-links {
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;
    }

    nav .nav-links li {
    margin: 3px 0px;
    
}
}