@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 80px;
    
}

header div#logo img {
    margin-left: 50px;
    width: 100px;
    color: white;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 50px;
}

header li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    
}

header li a:hover {
    background-color: #4A5568;
    color: #1F2937;
    
}

header li {
    margin-right: 30px;

}

main {
    background-color: #F0F9FE;
}

#hero-section img {
   width: 100vw;
   height: 900px;

}

 #hero-section h1 {
    position: absolute;
    top: 250px;
    color: white;
    font-size: 4em;
    left: 15vw;
    width: 500px;
}

 #hero-section p {
    position: absolute;
    top: 600px;
    color: #99adb8;
    font-size: 2em;
    left: 15vw;
}

#hero-section button {
    position: absolute;
    top: 700px;
    background-color: #1F2937;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.377) 4px 5px 6px 8px;
    font-size: 2em;
    right: 8vw;
    transition: transform 0.3s ease;
    
}

#hero-section button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#cards {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card img {
    width: 400px ;
    border-radius: 8px 8px 0px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    height: 530px;
    justify-content: space-between;
    padding-bottom: 30px;
    background-color: #4A5568;
    border-radius: 8px;
    margin-bottom: 50px;
}

.card h3 {
    text-align: center;
    font-size: 1.6em;
    color: #1F2937;
    margin-bottom: 18px;
}

.card p {
    width: 300px;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #F0F9FE;
}

.card button {

    background-color: #1F2937;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.377) 4px 5px 6px 2px;
    font-size: 1.2em;
    transition: transform 0.3s ease;
    
}

.card button:hover {
    cursor: pointer;
    transform: scale(1.02);

}

.container {
    width: 1600px;
    margin: auto;
}

#sobre {
    margin-top: 200px;
    background-color: #4A5568;
    box-shadow: rgba(0, 0, 0, 0.377) 4px 5px 6px 2px;
    border-radius: 4px;
    padding: 30px 30px 0 30px;
}

#sobre h1 {
    color: #F58533;
    font-size: 2.5em;
    margin-bottom: 40px;
}

#sobre p {
    font-size: 1.5em;
    color: white;
}

#sobre #bola{
    color: #F58533;
    margin-top: 40px;
}

#descricao-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

#texto-sobre {
    width: 900px;
}

#imagem-sobre img {
    width: 500px;
    margin-bottom: -4px;
}

#descricao-sobre p {
   margin-bottom: 50px;
   color: white;
}

#saiba-mais {
    background-color: #f06c0d;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 40px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 200px;
}